/*
color scheme
road-sign-green = #006d54
watercourse green = #086A53
black = #040404
cloudy-gray = #d1d3d3
overcast = #bdc3c5
asphalt = #313131
green-gray = #6c7c79
dark-green-gray = #424f4d
darker green = #0E3B31
off-white = #f5f5f5
mid-green = #3d8978
light-green = #83aba2
acapulco = #7BACA4
<a href="https://www.vecteezy.com/free-vector/fiber-optic-cable">Fiber Optic Cable Vectors by Vecteezy</a>
*/
body {
  background: url("../img/lined-background_vert.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url("../img/lined-background_vert.jpg") center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.logo {
  width: 100%;
}
.header-text {
  display: none;
}
.law-logo {
  width: 40%;
  max-width: 150px;
  align-self: center;
}
.collab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collab {
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 2px 0 2px white, 0 2px 2px white, -2px 0 2px white, 0 -2px 2px white;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 10px;
}
.menu ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 100%;
}
.menu li {
  display: inline;
  padding: 2%;
}
.menu a {
  text-decoration: none;
  padding: 2%;
  background-color: #bdc3c5;
  color: #040404;
}
h1.hero {
  width: 100%;
  margin-bottom: 0;
  margin-top: 2.5%;
  text-shadow: 4px 0 4px white, 0 4px 4px white, -4px 0 4px white, 0 -4px 4px white;

}
.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
p.hero:nth-of-type(1) {
  background-color: #f4f4f4;
  margin: 10px 10% 30px 10%;
  border: .1em solid #bdc3c5;
}
p.hero:nth-of-type(2) {
  color: #040404;
  border: .2em solid #bdc3c5;
  border-radius: .2em;
  background-color: #f5f5f5;
  margin: 0 10% 30px 10%;
}
.features {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2%;
  font-size: 1.1em;
}
ul.features {
  padding-left: 0;
}
.features li {
  background-color: #424f4d;
  border-radius: 10px;
  box-shadow:  -5px -3px 1px #006d54;
  color: #f5f5f5;
  width: 90%;
  max-width: 650px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
p.hero:nth-of-type(3) {
  border: 5px solid #006d54;
  border-radius: 9px;
  background-color: #f5f5f5;
  margin: 2% 10%;
}
p.hero:nth-of-type(4) {
  margin: 2% 10%;
}
.package {
  text-align: center;
  padding: 1em;
  border: 0.1em solid #006d54;
  background-color: #f5f5f5;
  color: #006d54;
  margin: 5% 10%;
}
div.price  {
  color: #313131;
  background-color: #bdc3c5;
  font-size: 2em;
}
.package ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  color: #040404;
}
.install-fee {
  text-align: left;
  padding: 1em;
  border: 0.2em dashed #bdc3c5;
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #040404;
  margin: 5% 5%;
}
h2 {
  text-align: center;
  padding: 2px 5px;
  margin-top: 10%;
  background-color: #f4f4f4;
  border: .3em solid #006d54;
}
h3 {
  text-align: center;
  padding: 0 5px;
  background-color: #f4f4f4;
}
.form-art {
  text-align: left;
  width: 90%;
  max-width: 900px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.form-art h1 {
  text-shadow: 2px 0 2px white, 0 2px 2px white, -2px 0 2px white, 0 -2px 2px white;
  background-color: #f5f5f5;
  border: .2em solid #d1d3d3;
  width: fit-content;
  padding: .2em;
  border-radius: 7px;
}
.radio-toolbar legend, .radio-toolbar p {
  background-color: #f4f4f4;
  padding: 3px;
  border: 2px solid #83aba2;
}
.radio-toolbar {
  margin-bottom: 10px;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
}
.radio-toolbar label {
  display: block;
  background-color: #bdc3c5;
  padding: 10px 20px;
  border: 2px solid #006d54;
  margin-top: 0;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color: #006d54;
  border-color: #bdc3c5;
  color: #f5f5f5;
}
.form-input {
  padding: 5px 0 0 0;
  clear: both;
}
.form-input input {
  width: 100%;
  clear: both;
  margin: 2px;
  background-color: #f5f5f5;
}
.form-input label {
  background-color: #f5f5f5;
  padding: 3px;
}
input.name {
  background-color: #fff;
  color: #fff;
  border-style: none;
  font-size: .1px !important;
  height: 0;
}
.location {
  display: block;
  width: 100%;
}
.location label, .location input {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  width: fit-content;
  padding: 2px;
}
.location p {
  overflow-wrap: anywhere;
  background-color: #f5f5f5;
  border: .1em solid #bdc3c5;
  padding: .4em;
}
.location fieldset legend {
  background-color: #f5f5f5;
  padding: 3px;
}
textarea {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}
button {
  background-color: #006d54;
  color: #f5f5f5;
  border-color: #bdc3c5;
}
form.close {
  text-align: center;
  margin-top: 2px;
}
#close-button {
  width: 50%;
  padding: 3px;
}
dialog {
  background-color: #d1d3d3;
  width: 80%;
  height: 90vh;
  position: fixed;
  bottom: auto;
}
@-moz-document url-prefix() {
  dialog {
    top: 50%;
    transform: translate(0, -50%);
  }
}
@supports (max-height: -webkit-fill-available) {
  dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
}
dialog::backdrop {
  backdrop-filter: blur(3px);
}
dialog + .backdrop { /*pollyfill*/
  backdrop-filter: blur(3px);
}
dialog p {
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  font-weight: 600;
}
/*map styling*/
#map {
  height: 88%;
  width: 100%;
}

/*for larger screens*/
@media screen and (min-width: 400px) {
  .form-input {
    margin-left: auto;
    margin-right: auto;
  }
  .form-input input {
    width: 90%;
    padding: 0 5%;
  }
}

@media screen and (min-width: 700px) {
  .form-input {
    display: inline-block;
    margin: 2px 5px;
  }
  p.hero:nth-of-type(1) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  p.hero:nth-of-type(2), p.hero:nth-of-type(3) {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .packages {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .package {
    width: 40%;
    margin: 5px 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .radio-toolbar {
    display: flex;
    flex-wrap: wrap;
  }
 .radio-toolbar label {
    width: 40%;
  }
  .radio-toolbar input {
    width: .00001%;
  }
}

@media screen and (min-width: 800px) {
  .logo {
    max-width: 700px;
    margin: auto;
    text-align: center;
    display: block;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .submit-btn {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  header {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 9px 0;
  }
  .logo {
    width: 33%;
  }
  .header-text {
    display: block;
    text-align: center;
    width: 33%;
    font-size: 2.3em;
  }
  .collab-container {
    width: 33%;
    position: relative;
    right: 45px;
  }
  .law-logo {
    width: 100%;
    max-width: 170px;
  }
  h1.hero {
    display: none;
  }
  p.hero:nth-of-type(1) {
    margin-top: 2em;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.2em;
    text-align: center;
  }
  .features {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1700px) {
  body {
    font-size: 1.4em;
    text-align: center;
  }
  h1 {
    font-size: 2.4em;
  }
  .features {
    font-size: 1.6em;
  }
  div.price {
    font-size: 2.4em;
  }
}
